* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: #007bff;
    padding: 10px;
    color: white;
}

.navbar div {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #f8d7da;
}

.navbar img {
    max-width: 8%;
}

/* Conteúdo Principal */
.content {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    padding: 20px;
}

.task-input {
    border-radius: 20px;
    border: 2px solid #007bff;
    padding: 10px;
    width: 100%;
    grid-area: 3/3/3;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.task-input:focus {
    border-color: #0056b3;
}

.taskButton {
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    width: 50%;
    display: flex;
    padding: 10px 20px;
    grid-area: 3/2/3;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.taskButton:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


/* Lista de Tarefas */
.task-list {
    margin-top: 1%;
    grid-area: 4/1/4/5;
    width: 100%;
    list-style: none;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.task-list li {
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #343a40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease;
}

.task-list li:hover {
    transform: translateX(5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
